@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-medium {
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* Jika Anda memiliki Navbar yang menempel di atas (fixed), 
tambahkan offset agar judul section tidak tertutup navbar */
section, main {
    scroll-margin-top: 80px; 
}

.tab-content {
    display: none; /* Sembunyikan semua secara default */
    opacity: 0;
    transform: translateY(20px); /* Posisi awal sedikit di bawah */
    transition: all 0.5s ease-out; /* Durasi animasi 0.5 detik */
  }
  /* Efek Hover HANYA untuk tombol yang TIDAK aktif */
  .tab-btn:not(.active-tab):hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-2px); /* Contoh tambahan efek gerak saat hover */
  }
  /* Class ini akan dipicu oleh JavaScript */
  .tab-content.active-content {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Kembali ke posisi asli */
  }
  
  .active-tab {
    background-color: #000;
    color: #fff;
  }